.apply-btn
	display inline-block
	text-decoration none
	border 0
	text-align center
	color #fff
	background-color #418ad3

	&:hover
		box-shadow 0 0 0 99px rgba(255, 255, 255, 0.1) inset

	&:active
		box-shadow 0 0 0 99px rgba(0, 0, 0, 0.2) inset
		transition none
