include ../mixins/index

doctype html
html(lang="ru", class="ctx-fonts-fallback")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Suisse Finance
		block headStyles
			+style("assets/css/main.css")
		block headScripts
		link(rel="shortcut icon", href="assets/img/favicon.ico")

	body
		block content

		block bodyStyles
		block bodyScripts
			+script("assets/js/vendors.js", false)
			+script("assets/js/main.js")