/* ценитрирующий контейнер */
.container
	margin-left auto
	margin-right auto
	max-width 1420px
	padding-left  40px
	padding-right 40px

	+mq("small")
		padding-left 20px
		padding-right 20px


.inner
	margin-left auto
	margin-right auto
	max-width 1180px

	+mq("medium")
		max-width none

