.main-menu
	margin 0
	padding 0
	list-style-type none
	text-transform uppercase

	&__item
		margin-left 70px
		font-size 25px
		float left

		+mq("(max-width: 1490px)")
			margin-left 40px
			font-size 20px

		+mq("menu")
			margin 0
			display block
			float none

	&__link
		position relative
		color #372d02
		font-family "Proxima Nova", sans-serif
		text-decoration none

		&::after
			content ""
			position absolute
			left 0
			right 0
			bottom 0
			opacity 0
			border-top 1px solid
			transition .2s

		&:hover::after
			opacity 1

		+mq("menu")
			display block
			padding 20px

			&::after
				content none

			&:hover
				color #fff
				background #418ad3