$imgString = "%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2052%2052%22%3E%0A%20%20%3Ccircle%20cx%3D%2226%22%20cy%3D%2226%22%20r%3D%2226%22/%3E%0A%3C/svg%3E";

$patternString = "%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%2018%22%3E%0A%20%20%3Ccircle%20cx%3D%224%22%20cy%3D%224%22%20r%3D%224%22/%3E%0A%3C/svg%3E%0A";

$vertPatternString = "%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%208%22%3E%0A%20%20%3Ccircle%20cx%3D%224%22%20cy%3D%224%22%20r%3D%224%22/%3E%0A%3C/svg%3E%0A";

$imgURL = "data:image/svg+xml," + $imgString;
$pattern = "data:image/svg+xml," + $patternString;
$vertPattern = "data:image/svg+xml," + $vertPatternString;

// images version
// $imgURL = "../img/circle.svg";
// $pattern = "../img/circle-pattern.svg";

.programs
	padding 45px 0 48px
	background #000


.program-title
	text-align left
	font-size 40px
	font-family "Proxima Nova", "PT Sans", sans-serif;
	font-weight bold
	text-transform uppercase
	text-shadow: 1px 11px 52px rgba(0, 0, 0, 0.8);

	&__accent
		margin-bottom -2px
		display block
		font-size 250%
		font-weight 900

	+mq("(max-width: 1460px)")
		font-size 35px

	+mq("(max-width: 1320px)")
		font-size 29px

	+mq("medium")
		font-size 35px

	+mq("(max-width: 820px)")
		font-size 30px

	+mq("(max-width: 420px)")
		font-size 26px

	&_text_center
		text-align center


.program-holder
	position relative
	display inline-block
	vertical-align top
	background none no-repeat 50% 50%
	background-size cover

	&::before
		content ""
		position absolute
		z-index 2
		top    -26px
		bottom -26px
		left   -26px
		right  -26px

		// /* radial-gradient version */
		// background:
		// 	radial-gradient(circle at top    left,  #000 25px, transparent 25px),
		// 	radial-gradient(circle at top    right, #000 25px, transparent 25px),
		// 	radial-gradient(circle at bottom left,  #000 25px, transparent 25px),
		// 	radial-gradient(circle at bottom right, #000 25px, transparent 25px)

		background-image:
			url($imgURL), url($imgURL), url($imgURL), url($imgURL)
		background-position:
			0 0, 0 100%, 100% 0, 100% 100%
		background-size 52px 52px
		background-repeat no-repeat

	&__content
		position absolute
		z-index 2
		left 0
		right 0
		bottom 0
		text-align center

	&__btn
		position absolute
		z-index 2
		bottom 16px
		left 50%
		transform translateX(-50%)
		backface-visibility: hidden;
		display inline-block
		vertical-align top
		font-size 26px
		padding 0 2.2em
		height 2.3462em
		line-height 2.3462em
		border 2px solid
		white-space nowrap
		color inherit
		text-decoration none
		background rgba(0, 0, 0, 0.2)

		&:hover
			color #000
			border-color #fff
			background-color #fff

		// &_pos_center

		+mq("medium")
			// left 75%
			left 150%
			bottom 46px
			font-size 20px

			&_pos_center
				bottom 50%
				transform translate(-50%, 50%)

		+mq("small")
			left 50%


	&_size_1-3
		width calc(1 / 3 * 100%)

	&_size_2-3
		width calc(2 / 3 * 100%);

	+mq("medium")
		display block
		width 50%

	+mq("small")
		display block
		width 100%
		overflow hidden


.program-item
	position relative
	display inline-block
	vertical-align top
	box-sizing border-box
	border 1px solid #000
	height 335px

	// /* radial-gradient version */
	// &::before
	// &::after
	// 	content ""
	// 	position absolute
	// 	top    14px
	// 	bottom 14px
	// 	width 18px
	// 	background-repeat repeat-y
	// 	background-size 18px 18px

	// &::before
	// 	left 0
	// 	background-image radial-gradient(circle at 0 4px, #000 4px, transparent 4px)
	// 	background-position 0 0

	// &::after
	// 	right 0
	// 	background-image radial-gradient(circle at 100% 4px, #000 4px, transparent 4px)
	// 	background-position 100% 0

	&::before
		content ""
		position absolute
		z-index 1
		left  -5px
		right -5px
		top    15px
		bottom 15px
		background-repeat repeat-y
		background-size 8px 18px
		background-image:
			url($pattern), url($pattern)
		background-position:
			0 0, 100% 0

		+mq("medium")
			top  -5px
			bottom -5px
			left    15px
			right 15px
			background-repeat repeat-x
			background-size 18px 8px
			background-image:
				url($vertPattern), url($vertPattern)
			background-position:
				0 0, 0 100%

	&::after
		content ""
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(0, 0, 0, 0.1)

	&__img
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		object-fit cover
		object-position 50% 50%
		// hack for object-fit polyfill
		font-family 'object-fit: cover; object-position: 50% 50%;'

	&__text
		position absolute
		z-index 2
		left 0
		width 100%
		top 40%
		transform translateY(-50%)
		box-sizing border-box
		padding 0 42px
		backface-visibility: hidden;

	&_size_full
		width 100%

	&_size_half
		width 50%

	+mq("medium")
		display block
		width 100%
		height 315px

		&__text
			left 100%

			&_pos_adjust
				top 50%

	+mq("small")
		&__text
			left 0