@charset "utf-8";

/* миксины */
@require "mixins";

/* сторонние библиотеки */
@require "normalize.css/normalize.css";

/* общие стили для все элементов, стили уровня тегов */
@require "base";

/* общие компоненты для всех страниц */
@require "components";

/* элементы отдельных страниц и структурные элементы */
@require "partials";