section.features
	.container
		.features__inner.inner
			.feature-grid
				.feature.feature_1
					b.feature__accent Персональный менеджер 24/5

				.feature.feature_2
					b.feature__accent Индивидуальный
					| подход к каждому клиенту

				.feature.feature_3
					b.feature__accent Широкий выбор
					| инструментов для торговли

				.feature.feature_4
					b.feature__accent Надежность
					| швейцарских банков

				.feature.feature_5
					b.feature__accent Обучение
					| новичков

				.feature.feature_6
					b.feature__accent Моментальное
					| исполнение ордеров