section.splash

	.splash__images(id="splash-images")
		//- picture
		//- 	source(media="(min-width: 721px)" srcset="assets/img/mountain-lg.png")
		//- 	source(media="(min-width: 361px)" srcset="assets/img/mountain-md.png")
		//- 	source(media="(min-width: 0px)" srcset="assets/img/mountain.png")
		//- 	img.splash__image.splash__image_bg(src="assets/img/mountain-lg.png", alt="")

		//- picture
		//- 	source(media="(min-width: 1081px)" srcset="assets/img/flag-lg.png")
		//- 	source(media="(min-width: 721px)" srcset="assets/img/flag-md.png")
		//- 	source(media="(min-width: 0px)" srcset="assets/img/flag.png")
		//- 	img.splash__image.splash__image_flag(src="assets/img/flag-lg.png", alt="")

		//- picture
		//- 	source(media="(min-width: 1081px)" srcset="assets/img/mountain-side-lg.png")
		//- 	img.splash__image.splash__image_side(src="", alt="")

	.container
		.inner
			.splash-content
				.splash-content__inner
					h1.splash-title
						b.splash-title__accent Правильный выбор
						| Для торговли на финансовых рынках
