/**
 * media queries
 */
/* global */
$media = {
	medium: "(max-width: 1080px)",
	small: "(max-width: 720px)",
	menu: "(max-width: 1220px)",
	retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)"
}

mq($mq)
	if $mq in $media
		$condition = $media[$mq]
	else
		$condition = $mq
	@media $condition
		{block}


pageLoad()
	.ctx-page-loaded &
		{block}


/**
 * Layouts
 */
clearfix()
	&::after
		content ""
		display table
		clear both
